//小猪图片处理
var xzCoverImage = function (url) {
  if(url){
    return url.replace('imgsec', 'image').replace('imgshowsource/', '').replace('webp', 'jpg')
  }
}
var rentType = function (type) {
  if (type ==1) {
    return '整租'
  }
  if (type == 2) {
    return '合租'
  }
  if (type == 3) {
    return '主卧'
  }
  if (type == 4) {
    return '次卧'
  }
}

var arrCompare=function(arr1,arr2){
  if (JSON.stringify(arr1) == JSON.stringify(arr2)){
    return 1
  }else{
    return 2
  }
}
module.exports = {
  xzCoverImage: xzCoverImage,
  rentType: rentType,
  arrCompare: arrCompare
}