//小猪图片处理
var xzCoverImage = function (url) {
  if(url){
    return url.replace('imgsec', 'image').replace('imgshowsource/', '').replace('webp', 'jpg')
  }
}

// 榛果图片处理

var zgCoverImage = function (url) {
  if (url) {
    return url + '@360w_1l_80Q'
  }
}

var rentType = function (type) {
  if (type ==1) {
    return '整租'
  }
  if (type == 2) {
    return '合租'
  }
  if (type == 3) {
    return '主卧'
  }
  if (type == 4) {
    return '次卧'
  }
  if (type == 0) {
    return '不限'
  }
}

var secondLayout = function (type) {
  console.log(type)
  if (type ==1) {
    return '1'
  }
  if (type == 2) {
    return '2'
  }
  if (type == 3) {
    return '3'
  }
  if (type == 4) {
    return '4'
  }
  if (type == 5) {
    return '4+'
  }
}

var secondlayoutmulti = function(typeArr) {
  if (!typeArr) return [];
  var arr = [];
  for (var i = 0; i < typeArr.length; i++) {
    arr.push(secondLayout(typeArr[i]));
  }
  return arr;
}

var arrCompare=function(arr1,arr2){
  if (JSON.stringify(arr1) == JSON.stringify(arr2)){
    return 1
  }else{
    return 2
  }
}
module.exports = {
  xzCoverImage: xzCoverImage,
  zgCoverImage: zgCoverImage,
  rentType: rentType,
  arrCompare: arrCompare,
  secondLayout: secondLayout,
  secondlayoutmulti: secondlayoutmulti,
}